/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuentes locales */
@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IconsSocial';
  src: url('../fonts/Icons Social Media 5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ESTILOS PARA EL CUERPO DE LA PÁGINA */
/* ESTILOS HEADER*/
header{
  display: flex;
  align-items: center;
  background-color:cornsilk;
  width: 70%;
  justify-content: center;
}
nav{
  width: 70%;
}
nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10vh;
  list-style: none;
  background-color:cornsilk;
}
/* ESTILOS BODY */
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color:azure;
}
main{
  width: 70%;
  background-color:aliceblue;
}
main :nth-child{
  margin-top: 20px;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}
/* ESTILOS FOOTER */
footer{
  display: flex;
  align-self: center;
  width: 70%;
  background-color:beige;
}