/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ESTILOS PARA EL CUERPO DE LA PÁGINA */
body {
  background-color: #003366;
  color: white;
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-image: url(/taller-entornos-gX2/img/solo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* ESTILOS EN EL ENCABEZADO */
header {
  text-align: center;
  margin-bottom: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  font-size: 2.5rem;
  color: #ffcc00;
  font-family: 'Courier New', Courier, monospace;
}
p {
  font-size: 1.2rem;
  color: #cccccc;
  font-family: 'Lucida Console', Monaco, monospace;
  font-style: initial;
}